# AIP Group 15

In [5]:
import pandas as pd
import numpy as np

In [6]:
raw_data= pd.read_excel("Yeti_Analytics.xlsx")

In [7]:
raw_data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [9]:
raw_data.tail()

                                                  Review  Rating
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

In [11]:
raw_data.shape

(20491, 2)

In [12]:
import matplotlib.pyplot as plt

In [13]:
raw_data.isnull().sum()

Review    0
Rating    0
dtype: int64

In [14]:
raw_data.columns

Index(['Review', 'Rating'], dtype='object')

In [18]:
groups = raw_data.groupby('Rating')
print('Classification groups =>',len(raw_data['Rating'].unique()))

Classification groups => 5

                                               Review  Rating
0   nice hotel expensive parking got good deal sta...       4
1   ok nothing special charge diamond member hilto...       2
2   nice rooms not 4* experience hotel monaco seat...       3
3   unique, great stay, wonderful time hotel monac...       5
4   great stay great stay, went seahawk game aweso...       5
5   love monaco staff husband stayed hotel crazy w...       5
6   cozy stay rainy city, husband spent 7 nights m...       5
7   excellent staff, housekeeping quality hotel ch...       4
8   hotel stayed hotel monaco cruise, rooms genero...       5
10  poor value stayed monaco seattle july, nice ho...       2
11  nice value seattle stayed 4 nights late 2007. ...       4
12  nice hotel good location hotel kimpton design ...       4
13  nice hotel not nice staff hotel lovely staff q...       3
14  great hotel night quick business trip, loved l...       4
15  horrible customer service hotel stay february ...       1
16  disappointed say anticipating stay hotel monac...       2
19  hmmmmm say really high hopes hotel monaco chos...       3
24  great location need internally upgrade advanta...       2
25  n't mind noise place great, read reviews noise...       3
27  met expectations centrally located hotel block...       3
32  noise airconditioner-a standard, arranged stay...       1
33  good location poor cleanliness warwick hotel g...       2
40  bad choice, booked hotel hot wire called immed...       1
65  hated inn terrible, room-service horrible staf...       1
69  ace grunge lives does mold mildew tiny bed met...       1